*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    
    height:40px;
    width: 40px;
}
h1{
    z-index: 10;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 3em;
    text-align: center;
    padding: 20px;
    color: white;
}
a{
    text-decoration: none;
}
p{
    font-weight: bold;
    letter-spacing: 3px ;
    color: white;
    font-size: 1em;
    text-align: center;
    padding: 10px;
}
button{
    font-weight: bold;
    letter-spacing: 2px;
    border:1px solid white;
    font-size: 1em;
    color: white;
    height: 100%;
    width: 100%;
    background: transparent;
    text-align: center;
}
.container{ 
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;


}
.navbar{
    height:auto;
    width: 100%;  
    position: fixed;
    top: 0px;
    z-index: 100;
    background-color: white;
     
}
.logo  { 
    position: relative;
    height: 80px;
    width: auto;
    background-color: white; 
    
    
}
.image1{
    position: absolute;
    left: 30px;
}
    top: 30px;
.image2{
    position: absolute;
    top: 30px;
    right: 30px;
}
.navlinksformobile{
    visibility: hidden;
    background-color: white; 
    height: 00px; 
    z-index: 100;
    width: auto; 
    transition:all 1s linear;  
}
     
ul li{ 
    width: 100px;
    height: 30px;
    margin:10px auto;
    list-style: none;
    font-size:1.3em ;
    text-transform: capitalize;
    font-weight: bold;
}
li{text-align: center;}
a:hover{
    color: white;
    background-color: black;
}
.home{ 
    position: relative;
    height: 90vh;
    width: 100%; 
    background-image:url("https://github.com/john-smilga/javascript-basic-projects/blob/master/10-scroll/final/hero-bcg.jpeg?raw=true") ;
    padding-top:100px ;
     

}

#overlay{
    position:absolute;
    background: rgba(39, 42, 46, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.7;
}
.btn{
    border: 2px solid white;
    height: 40px;
    width: 200px;
    margin:  40px auto;
}
.aboutus{
    height: 100vh;
    width: 100%;

}
.aboutus h1,.ourservices h1,.featuredtours h1{
    color: black;
}
span{
    color: lightblue;
}
.ourservices{
    height: 100vh;
    width: 100%;

}
.featuredtours{
    height: 100vh;
    width: 100%;

}
.btn:hover
{
    cursor: pointer;
    background-color:lightblue;
}
.image2:hover{
    cursor: pointer;
    z-index: inherit; 
} 
.navopen{ 
    height: 200px;
    visibility: visible;
    
}
/*
.navopen{
    display: block;
    animation:nav 1s linear infinite;
}

@keyframes nav {  
    0%{
        height:0px ;

    }
    10%{
        height:20px ;

    }20%{
        height:40px ;

    }30%{
        height:60 ;

    }40%{
        height:80px ;

    }50%{
        height:100px ;

    }60%{
        height:120px ;

    }70%{
        height:140px ;

    }80%{
        height: 160px;

    }90%{
        height: 180px;

    }100%{
        height:200px ;

    
}
   
//MEDIA QUERIES 
}


    
}*/

@media only screen and  (min-width:768px)
{
    h1{
        font-size: 5em;
    }
    p{
        font-size: 5em;
    }
    .btn{
        height: 10em;
        width: 40em;
    }
    .image2{
        display: none;

    }
    a{
        font-size:  1.6em;
    }
    .navbar{ 
        width: 100%;
        height: 180px;
    }
    .logo{
        padding-top: 0;
        height: 160px;
        display: inline-block;
        width: 250px;
    }
    .image1{
        height: 160px;
        width: auto; 
    }
    .navlinksformobile{ 
        position: relative;
        display: inline-block;
        height: 10px;
        width: 60%;
       visibility: visible; 
       
        
    }
.navlinksformobile li{
display: inline-block; 
margin-left: 5px;


}

}