*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: sans-serif;

}
body{
    height: 100vh;
    width: 100%;
    background-color: rgb(240, 240, 243);
}
p{
 color: white;
 text-align: center;
 padding-top:30px ;
 font-size: 2em;
    
}
.center-container{
    height: 100vh;
    width: 100% ;
    padding:auto;
}
.btn{
    padding: 10px;
    border-radius: 10px;
    color: white;
    height: auto;
    width: auto;
    margin: 30px auto;
    outline: none;
    border: none;
    display: block;
    font-size: 1.3em;
 background-color: blue;
}
.chuck-image
{
    display: block;
    height:70%;
    width: 60%;
    max-width: 600px;
    min-height:300px ;
    min-width: 300px;
    margin: 20px auto;
    border-radius: 30px;
}
#joke-container{
    color: blue;
    font-size: 1em;
    padding: 20px; 
    margin: auto; 
    max-width: 500px;
}