	*{


		margin:0;
		padding:0;
		box-sizing: border-box;
	}
	.container{
		padding: 100px 100px;


		min-width:500px;
		width:100%;
		margin:auto;
		display:flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}  
	.button{
		width:80px;
	   position:relative;
	   left:45%;
	 
		height:30px;
		display: block;
	} 
	h2{ 
		height:30px;
		width:200px;
		margin: 0 auto;
	} 



